<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArithmeticNamespace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Arithmetic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ArithmeticNamespace.Properties.Settings>
      <setting name="MySettingString" serializeAs="String">
        <value>And this is the value of MySettingString from dll.config</value>
      </setting>
    </ArithmeticNamespace.Properties.Settings>
    <Arithmetic.Properties.Settings>
      <setting name="MySettingString" serializeAs="String">
        <value>Setting This is MySettingString value</value>
      </setting>
    </Arithmetic.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="MyDLLAppSetting" value="This is MyDLLAppSettingValue from dll.config"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
